<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bent.jam" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JAM</name>
    <description>
        An information encoder/decoder.
    </description>
    <author email="lucas.bent@msad60.org" href="">
        BentDev
    </author>
    <content src="index.html" />
    <preference name="auto-hide-splash-screen" value="true" />
    <access origin="*" />
</widget>
