<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bent.jam" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JAM</name>
    <description>
        An information encoder/decoder.
    </description>
    <author email="lucas.bent@msad60.org" href="">
        BentDev
    </author>
    <content src="index.html" />
    
<gap:config-file platform="android" parent="/manifest">
  <supports-screens 
  android:xlargeScreens="false" 
  android:largeScreens="false" 
  android:smallScreens="false" />
  <application android:theme="@android:style/Theme.NoTitleBar" >
  <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
  </application>
</gap:config-file>
    
    <access origin="*" />
</widget>
